*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #00aeef;
}
.container{
    position: absolute;
    width: 70%;
    height: 60%;
    top: 22%;
    left: 16%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    font-size: 28px;
    color: #00aeef;
   
}
.text{
    position: relative;
    top: 15%;
}
.paragraph{
    font-size: 38px;
    position: relative;
    top: 25%;
    font-family: 'Roboto', sans-serif;
    color: #00aeef;
}
@media screen and (max-width:700px){
    .text{
        font-size: 21px;
    }
}